<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tailwind.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Fuller | Главная</title>
</head>
<body class="text-gray-700">
            <div class="news">
              <div class="bg-indigo-600">
                <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
                  <div class="flex items-center justify-between flex-wrap">
                    <div class="w-0 flex-1 flex items-center">
                      <span class="flex p-2 rounded-lg bg-indigo-800">
                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
                        </svg>
                      </span>
                      <p class="ml-3 font-medium text-white truncate">
                        Мы выпустили версию 4.3, которую вы видите сейчас на своих глазах 🎉
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
  <header>
    <div class="container mx-auto px-10">

      <header>
        <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center mt-10">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
              <svg width="512" class="w-12 h-12 mr-2" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
                  <path d="M476.853 35.148C429.989 -11.716 354.011 -11.716 307.147 35.147L206.853 135.441C158.378 183.918 162.866 261.158 206.853 305.147C214.219 312.513 222.369 318.519 230.975 323.452L249.28 305.147C261.286 293.139 257.06 279.102 256.844 268.973C254.209 267.105 251.646 265.086 249.28 262.72C226.707 240.149 225.692 201.455 249.28 177.867C252.783 174.364 347.446 79.701 349.572 77.575C372.971 54.176 411.026 54.176 434.425 77.575C457.824 100.974 457.824 139.029 434.425 162.428L368.132 228.721C370.049 239.328 381.554 264.454 375.636 305.902C375.925 305.618 376.271 305.435 376.559 305.148L476.853 204.854C523.715 157.99 523.715 82.012 476.853 35.148Z" fill="#374151" />
                  <path d="M312.918 199.081C305.553 191.715 297.402 185.709 288.798 180.776L270.493 199.081C258.485 211.087 262.711 225.124 262.927 235.253C265.564 237.121 268.127 239.14 270.493 241.506C293.066 264.079 294.081 302.771 270.493 326.359C266.982 329.87 164.478 432.374 162.427 434.425C139.028 457.824 100.973 457.824 77.574 434.425C54.175 411.026 54.175 372.971 77.574 349.572L151.641 275.505C149.724 264.898 138.218 239.772 144.137 198.324C143.848 198.608 143.5 198.793 143.212 199.08L35.147 307.147C-11.715 354.011 -11.715 429.989 35.147 476.853C82.011 523.715 157.988 523.715 204.852 476.853L312.918 368.787C360.494 321.211 357.894 244.056 312.918 199.081Z" fill="#374151" />
              </g>
              <defs>
                  <clipPath id="clip0">
                  <rect width="512" height="512" fill="white" />
                  </clipPath>
              </defs>
              </svg>
              <span class="ml-3 text-xl">Fuller</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" href="/utils/navigator.html">Навигатор по сайту</a>
          </nav>
          <a href="https://github.com/undefined-1111/Fuller"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
              Гитхаб
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
          </button></a>
          </div>
        <h1 class="text-4xl sm:text-5xl	font-black title">Удобный <span class="text-indigo-600">сокращатель</span> ссылок</h1>
        <p class="text-2xl mt-5 ">Удобный сокращатель ссылок который имеет свое АПИ</p>
      </header>
  
      <div class="mt-12">
        <form action="/create" method="POST" class="flex flex-col md:flex-row justify-start -m-2 text-lg w-full">
          <input type="url" name="tolink" placeholder="Ссылка для сокращение" class="border-2 rounded-md border-indigo-600 placeholder-indigo-600 px-8 py-4 m-2 sm:w-full md:w-2/5" />
          <input type="text" name="wantlink" placeholder="Название" class="border-2 rounded-md border-indigo-600 placeholder-indigo-600 px-8 py-4 m-2 sm:w-full md:w-2/5" />
          <button class="rounded-md bg-indigo-600 px-8 py-4 m-2 sm:w-full md:w-1/5 text-white">Создать</button>
        </form>
      </div>
    </div>
  </header>

  <section class="mt-28">
    <div class="container mx-auto px-10">
      <div class="py-8 lg:flex lg:items-center lg:justify-between">
        <h2 class="text-3xl text-black font-extrabold tracking-tight text-gray-700 sm:text-4xl">
          <span class="block">Также мы имеем полностью</span>
          <span class="block text-indigo-600">исходный код</span>
        </h2>
        <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
          <div class="inline-flex rounded-md shadow">
            <a href="https://github.com/undefined-1111/Fuller" class="inline-flex items-center text-right justify-center px-5 ml-full py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
              Открыть github
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-indigo-600 p-8 text-white font-bold mt-56">
    <div class="container mx-auto px-10">
      <a href="https://github.com/undefined-1111/Fuller"><img src="./img/github.svg" class="w-10 mb-3"></a>
      <div class="">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
  </footer>

  <script src="./js/jquery.js"></script>
  <script src="./js/main.js""></script>

</body>
</html>