<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Fuller | Редирект был создан</title>
</head>
<body class="text-gray-700">
    <header>
        <div class="container mx-auto px-12">
            <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center mt-10">
                <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                    <svg width="512" class="w-12 h-12 mr-2" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M476.853 35.148C429.989 -11.716 354.011 -11.716 307.147 35.147L206.853 135.441C158.378 183.918 162.866 261.158 206.853 305.147C214.219 312.513 222.369 318.519 230.975 323.452L249.28 305.147C261.286 293.139 257.06 279.102 256.844 268.973C254.209 267.105 251.646 265.086 249.28 262.72C226.707 240.149 225.692 201.455 249.28 177.867C252.783 174.364 347.446 79.701 349.572 77.575C372.971 54.176 411.026 54.176 434.425 77.575C457.824 100.974 457.824 139.029 434.425 162.428L368.132 228.721C370.049 239.328 381.554 264.454 375.636 305.902C375.925 305.618 376.271 305.435 376.559 305.148L476.853 204.854C523.715 157.99 523.715 82.012 476.853 35.148Z" fill="#374151" />
                        <path d="M312.918 199.081C305.553 191.715 297.402 185.709 288.798 180.776L270.493 199.081C258.485 211.087 262.711 225.124 262.927 235.253C265.564 237.121 268.127 239.14 270.493 241.506C293.066 264.079 294.081 302.771 270.493 326.359C266.982 329.87 164.478 432.374 162.427 434.425C139.028 457.824 100.973 457.824 77.574 434.425C54.175 411.026 54.175 372.971 77.574 349.572L151.641 275.505C149.724 264.898 138.218 239.772 144.137 198.324C143.848 198.608 143.5 198.793 143.212 199.08L35.147 307.147C-11.715 354.011 -11.715 429.989 35.147 476.853C82.011 523.715 157.988 523.715 204.852 476.853L312.918 368.787C360.494 321.211 357.894 244.056 312.918 199.081Z" fill="#374151" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                        <rect width="512" height="512" fill="white" />
                        </clipPath>
                    </defs>
                    </svg>
                    <span class="ml-3 text-xl">Fuller</span>
                </a>
                <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
                    <a class="mr-5 hover:text-gray-900" href="/utils/navigator.html">Навигатор по сайту</a>
                </nav>
                <a href="https://github.com/undefined-1111/Fuller"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                    Гитхаб
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </button></a>
                </div>
            <p name="notetext" class="border-2 border-indigo-600 w-full h-auto mt-24 rounded-lg p-8"><%= note %></p>
        </div>
    </header>
</body>
</html>